// VARIABLES

// Couleurs
$color-primary: #008080;
$color-secondary: #ffffff;
$third-color: #000000;

// Polices
$font-primary: "Optima";
$font-secondary: "avenir";

// Breakpoint
$breakpoints: (
    mobile: 599px
);